@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Blog Page</h1>
    <p>
        Here you will find all kinds of interesting blog of various categories where you can inform yourself, have fun and much more! .
    </p>
</div>
